@font-face {
  font-family: "iconfont"; /* Project id 5011527 */
  src: url('iconfont.woff2?t=1757486669074') format('woff2'),
       url('iconfont.woff?t=1757486669074') format('woff'),
       url('iconfont.ttf?t=1757486669074') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.oinone-double-up-outlined:before {
  content: "\e81a";
}

.oinone-double-left-outlined:before {
  content: "\e81b";
}

.oinone-double-down-outlined:before {
  content: "\e81c";
}

.oinone-double-right-outlined:before {
  content: "\e81d";
}

.oinone-drill-down-outlined:before {
  content: "\e818";
}

.oinone-jump-outlined:before {
  content: "\e819";
}

.oinone-a-defaultrowheight:before {
  content: "\e815";
}

.oinone-order-outlined:before {
  content: "\e816";
}

.oinone-shortcutkey-outlined:before {
  content: "\e817";
}

.oinone-high-height-outlined:before {
  content: "\e803";
}

.oinone-fullscreen-outlined:before {
  content: "\e804";
}

.oinone-drag-outlined:before {
  content: "\e805";
}

.oinone-file-text-outlined:before {
  content: "\e806";
}

.oinone-drawer-outlined:before {
  content: "\e807";
}

.oinone-export-outlined:before {
  content: "\e808";
}

.oinone-delete-outlined:before {
  content: "\e809";
}

.oinone-down-outlined:before {
  content: "\e80a";
}

.oinone-dialog-box-outlined:before {
  content: "\e80b";
}

.oinone-adaptive-outlined:before {
  content: "\e7ef";
}

.oinone-caret-down-filled:before {
  content: "\e80c";
}

.oinone-display-outlined:before {
  content: "\e80d";
}

.oinone-apartment-outlined:before {
  content: "\e80e";
}

.oinone-close-outlined:before {
  content: "\e80f";
}

.oinone-copy-outlined:before {
  content: "\e810";
}

.oinone-check-outlined:before {
  content: "\e811";
}

.oinone-caret-up-filled:before {
  content: "\e812";
}

.oinone-caret-right-filled:before {
  content: "\e813";
}

.oinone-caret-left-filled:before {
  content: "\e814";
}

.oinone-ungroup-outlined:before {
  content: "\e7f4";
}

.oinone-height-outlined:before {
  content: "\e7f1";
}

.oinone-zoom-out-outlined:before {
  content: "\e7f5";
}

.oinone-zoom-in-outlined:before {
  content: "\e7f6";
}

.oinone-user-outlined:before {
  content: "\e7f7";
}

.oinone-up-outlined:before {
  content: "\e7f8";
}

.oinone-fullscreen-exit-outlined:before {
  content: "\e7f2";
}

.oinone-low-height-outlined:before {
  content: "\e7f9";
}

.oinone-medium-height-outlined:before {
  content: "\e7fa";
}

.oinone-plus-outlined:before {
  content: "\e7fb";
}

.oinone-group-outlined:before {
  content: "\e7fc";
}

.oinone-right-outlined:before {
  content: "\e7fd";
}

.oinone-folder-outlined:before {
  content: "\e7fe";
}

.oinone-edit-square-outlined:before {
  content: "\e7f0";
}

.oinone-minus-outlined:before {
  content: "\e7ff";
}

.oinone-import-outlined:before {
  content: "\e800";
}

.oinone-left-outlined:before {
  content: "\e801";
}

.oinone-hide-outlined:before {
  content: "\e802";
}

.oinone-upload-outlined:before {
  content: "\e7f3";
}

