@import './parameters.scss';

.#{$groupClassPrefix} {
  width: 100%;
  background: var(--oio-background);

  &-border {
    border: var($parameterPrefix + -border-width) var(--oio-group-border-width) var($parameterPrefix + -border-color);
    border-radius: var($parameterPrefix + -border-radius, 4px);
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.05);
  }

  &-title-wrapper {
    // height: 56px;
    padding: var(--oio-padding) var(--oio-padding) 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
  }

  &-title-space-between {
    justify-content: space-between;

    & > .#{$groupClassPrefix}-title-content {
      overflow: hidden;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-content: flex-start;
      align-items: center;
    }

    & > .#{$groupClassPrefix}-title-toolbar {
      margin-left: 16px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      align-content: flex-end;
      align-items: center;
      column-gap: 8px;
    }
  }

  &-title-flex-end {
    justify-content: flex-end;
  }

  &-title {
    color: var(--oio-text-color);
    font-size: var(--oio-font-size-lg);
    line-height: var(--oio-line-height-lg);
    font-weight: var(--oio-font-weight-bold);
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    & + .#{$groupClassPrefix}-description {
      margin-left: 12px;
    }
  }

  &-help {
    line-height: var(--oio-line-height-lg);
    margin-left: 4px;
    margin-right: 4px;

    .oio-icon {
      vertical-align: 0;
    }
  }

  &-description {
    color: var(--oio-text-color-secondary);
    font-size: var(--oio-font-size-sm);
    line-height: var(--oio-line-height-lg);
    max-width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-content {
    padding: var(--oio-padding);
  }

  &-title-hidden {
    & > .oio-group-title-wrapper {
      display: none;
    }

    & > .oio-group-content {
      padding: var(--oio-padding);
    }
  }
}
