@font-face {
  font-family: "iconfont"; /* Project id 1964808 */
  src: url('iconfont.woff2?t=1744968825206') format('woff2'),
       url('iconfont.woff?t=1744968825206') format('woff'),
       url('iconfont.ttf?t=1744968825206') format('truetype');
}

.icondinghuohui:before {
  content: "\e710";
}

.iconshouhou:before {
  content: "\e711";
}

.iconyewupeizhi:before {
  content: "\e712";
}

.iconshangchengzhuangxiu:before {
  content: "\e713";
}

.iconyijianfankui1:before {
  content: "\e714";
}

.iconjiesuan:before {
  content: "\e715";
}

.iconwenzhang:before {
  content: "\e716";
}

.iconshouxin:before {
  content: "\e717";
}

.iconfanli:before {
  content: "\e718";
}

.iconzhibo:before {
  content: "\e719";
}

.iconxiaoshou:before {
  content: "\e71a";
}

.icondinghuohui-copy:before {
  content: "\e93a";
}

.iconOS-shujuzhongxin:before {
  content: "\e63a";
}

.iconOS-xiaochengxu:before {
  content: "\e63e";
}

.iconOS-zhanghaozhongxin:before {
  content: "\e63f";
}

.iconOS-neirongzhongxin:before {
  content: "\e939";
}

.iconOS-renwuzhongxin:before {
  content: "\e600";
}

.iconjichengjiekou-jichengyingyong:before {
  content: "\e6d4";
}

.iconshangjia-caozuorizhi:before {
  content: "\e6d5";
}

.iconpingtai-jiesuanguanli:before {
  content: "\e6d6";
}

.iconziyuan-diqu:before {
  content: "\e6d7";
}

.iconquanxian-quanxian:before {
  content: "\e6c2";
}

.iconchuanshu-moxingliebiao:before {
  content: "\e6c3";
}

.iconchufaqi-zhihangrenwu:before {
  content: "\e6c4";
}

.iconziyuan-yuyan:before {
  content: "\e6c5";
}

.iconjichengjiekou-rizhi:before {
  content: "\e6c6";
}

.iconjichengjiekou-kaifangpingtai:before {
  content: "\e6c7";
}

.iconziyuan-dizhiku:before {
  content: "\e6c8";
}

.iconziyuan-huobi:before {
  content: "\e6c9";
}

.iconzhandianguanli-gongzuotai:before {
  content: "\e6ca";
}

.iconjichengjiekou-jichengjiekou:before {
  content: "\e6cb";
}

.icondaorudaochumoban:before {
  content: "\e6cc";
}

.iconzhandianguanli-PCduan:before {
  content: "\e6cd";
}

.iconchufaqi-chufarenwu:before {
  content: "\e6ce";
}

.iconwenjian-daorurenwu:before {
  content: "\e6cf";
}

.iconchufaqi-jihuarenwu:before {
  content: "\e6d0";
}

.iconwenjian-daochurenwu:before {
  content: "\e6d1";
}

.iconziyuan-shuishuai:before {
  content: "\e6d2";
}

.iconzhandianguanli-yidongduan:before {
  content: "\e6d3";
}

