.default-dropdown-overlay {
  min-width: 96px;
  max-width: 160px;
  z-index: 999;

  .default-dropdown-menu {
    background-color: var(--oio-background);
    border: 1px solid var(--oio-border-color);
    box-shadow: var(--oio-box-shadow);
    border-radius: var(--oio-border-radius);
    position: unset;
    padding: 4px;

    .ant-dropdown-menu-title-content {
      position: unset;

      .ant-modal-root {
        position: fixed;
        top: 0;
        left: 0;
      }
    }

    & > button {
      display: block;
      border: 0;
      border-bottom: 1px solid var(--oio-border-color);
      color: var(--oio-primary-color);
      border-radius: 0;

      &:hover {
        background: var(--oio-hover-background-color);
        border: 0;
        border-bottom: 1px solid var(--oio-border-color);
      }

      &:first-child {
        border-radius: 4px 4px 0 0;
      }

      &:last-child {
        border-radius: 0 0 4px 4px;
        border: 0;

        &:hover {
          border: 0;
        }
      }
    }

    .ant-dropdown-menu-item {
      padding: 5px 10px;

      &:not(:first-child) {
        margin-top: 7px;
      }

      &:not(:last-child) {
        margin-bottom: 7px;

        &:after {
          content: '';
          height: 1px;
          width: calc(100% - 16px);
          position: absolute;
          background-color: var(--oio-border-color);
          bottom: -4px;
          left: 8px;
        }
      }

      .oio-button {
        width: 100%;
        color: var(--oio-dropdown-button-text-color);

        & &.oio-button-icon-before,
        &.oio-button-icon-after {
          .oio-action-content {
            max-width: calc(100% - 18px);
          }
        }

        .oio-action-content {
          max-width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          vertical-align: middle;
        }
      }

      &.ant-dropdown-menu-item-disabled {
        .oio-button {
          color: var(--oio-dropdown-color-disabled);
        }
      }
    }
  }
}
