@import './parameters.scss';

$gap: 24px;
$innerPopupMaxHeight: 234px;
$innerPopupMaxWidth: 354px;

.#{$innerPopupClassPrefix}-target {
  display: flex;

  & > *:not(.#{$innerPopupClassPrefix}) {
    flex: 1;
  }
}

.#{$innerPopupClassPrefix} {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: var($parameterPrefix + -border-width) var($parameterPrefix + -border-style)
    var($parameterPrefix + -border-color);
  border-radius: var($parameterPrefix + -border-radius, 4px);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.05);

  &-header {
    height: 55px;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .#{$innerPopupClassPrefix}-title-wrapper {
      .#{$innerPopupClassPrefix}-title {
        color: var($parameterPrefix + -text-color);
        font-size: var($parameterPrefix + -font-size-lg);
        line-height: var($parameterPrefix + -line-height-lg);
        font-weight: var($parameterPrefix + -font-weight-bold);
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .#{$innerPopupClassPrefix}-title-toolbar {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      column-gap: 8px;

      .#{$innerPopupClassPrefix}-title-icon-button {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        background-color: #f1f1f1;
        cursor: pointer;

        .oio-icon {
          font-size: 10px;
        }
      }
    }

    & + .#{$innerPopupClassPrefix}-body {
      border-top: 1px solid #f0f0f0;
    }
  }

  .#{$innerPopupClassPrefix}-body {
    padding: 16px;
    flex: 1;

    & + .#{$innerPopupClassPrefix}-footer {
      border-top: 1px solid #f0f0f0;
    }
  }

  .#{$innerPopupClassPrefix}-footer {
    padding: 16px;
    text-align: right;
  }

  &-top {
    flex-direction: column-reverse;
    row-gap: $gap;

    .mobile-default-inner-popup {
      max-height: $innerPopupMaxHeight;
    }
  }

  &-right {
    flex-direction: row;
    column-gap: $gap;

    .mobile-default-inner-popup {
      flex-basis: $innerPopupMaxWidth;
    }
  }

  &-bottom {
    flex-direction: column;
    row-gap: $gap;

    .mobile-default-inner-popup {
      max-height: $innerPopupMaxHeight;
    }
  }

  &-left {
    flex-direction: row-reverse;
    column-gap: $gap;

    .mobile-default-inner-popup {
      flex-basis: $innerPopupMaxWidth;
    }
  }
}
