@import '../mixin.scss';

.oinone-menu.oinone-menu-theme3 {
  .oio-sub-menu-menu-item,
  .not-root-menu {
    /**
     *   多层级菜单的左侧圆点
     */
    .ant-menu-title-content {
      position: relative;
      padding-left: 16px;
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: var(--oio-menu-default-icon-color);
      }
    }

    &.ant-menu-submenu-selected {
      & > .ant-menu-submenu-title .ant-menu-title-content {
        &::before {
          background: var(--oio-primary-color);
        }
      }
    }
  }

  .ant-menu-item-selected > .ant-menu-title-content {
    &::before {
      background: var(--oio-primary-color);
    }
  }

  /**
   *   多层级菜单的左侧竖线
   */
  .not-root-menu {
    .ant-menu-sub {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        left: 16px;
        height: 100%;
        width: 1px;
        margin-left: 2px;
        background: var(--oio-border-color);
      }
    }
  }

  @include menuInlineIndentMixin(16px, 16px, 28px, 16px);
}
