@import '../../../../style/global-parameters.scss';

.default-dialog .ant-modal {
  .ant-modal-body {
    padding-bottom: 24px;

    .oio-form {
      & > .oio-row > .oio-col > .oio-default-group {
        & > .oio-group-title-wrapper {
          padding: var(--oio-padding) 0 0 0;
        }
        & > .oio-group-content {
          padding: var(--oio-padding) 0;
        }
      }
    }
  }

  .ant-modal-footer {
    padding: 0;
    border-top: 0;

    .default-dialog-pre-next-switch-footer {
      display: flex;
      align-items: center;
      border-top: 1px solid var(--oio-border-color);
      .oio-simple-pagination {
        padding-left: var($parameterPrefix + -margin-md);
      }
      .action-bar {
        flex: 1;
        border-top: 0;
      }
    }

    .action-bar {
      height: unset;
      padding: var($parameterPrefix + -margin-md);
      justify-content: flex-end;
      border-top: 1px solid var(--oio-border-color);

      button {
        &.ant-btn {
          margin: unset;
        }
      }
    }

    .default-dialog-footer {
      padding: var($parameterPrefix + -margin-md);
    }
  }
}
