.md-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  .pagination-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .oio-input {
      text-align: center;
      border: 1px solid #d9d9d9;
      outline: none;
      input.ant-input {
        font-size: 12px;
        text-align: center;
      }
    }
    .next,
    .prev {
      cursor: pointer;
    }
    .starts-ends {
      cursor: not-allowed;
    }
    .pagination-icon {
      color: #54585b;
    }
    .icon-first-last {
      color: #d9d9d9;
    }
  }

  .md-pagination-small {
    font-size: 12px;
    width: 160px;
    .oio-input {
      width: 40px;
      height: 24px;
      line-height: 24px;
      input.ant-input {
        font-size: 12px;
        height: 22px;
        line-height: 22px;
      }
    }
    .pagination-icon {
      font-size: 12px;
    }
  }

  .md-pagination-middle {
    font-size: 14px;
    width: 180px;
    .oio-input {
      width: 48px;
      height: 30px;
      line-height: 30px;
      font-size: 14px;
      input.ant-input {
        font-size: 14px;
        height: 28px;
        line-height: 28px;
      }
    }
    .pagination-icon {
      font-size: 14px;
    }
  }

  .md-pagination-large {
    width: 200px;
    font-size: 16px;
    .oio-input {
      width: 56px;
      height: 35px;
      line-height: 35px;
      font-size: 16px;
      input.ant-input {
        font-size: 16px;
        height: 33px;
        line-height: 33px;
      }
    }
    .pagination-icon {
      font-size: 16px;
    }
  }
}
