:root {
  --table-high-light-bg: #eff0fd;

  --van-field-label-color: var(--oio-text-color);
  --van-field-input-text-color: var(--oio-text-color-secondary);
  --van-radio-label-color: var(--oio-text-color-secondary);
  --van-checkbox-label-color: var(--oio-text-color-secondary);
  --van-cell-line-height: 14px;
  --van-empty-image-size: 300px;
}
