@import '../../../style/global-parameters.scss';

$cardCascaderPrefix: $prefix + -card-cascader;
$cardCascaderParameterPrefix: $parameterPrefix + -card-cascader;
$cardCascaderClassPrefix: $cardCascaderPrefix;
