@import '../../../style/mixin.scss';
@import '../../../style/global-parameters';
@import './parameters.scss';

.#{$modalClassPrefix}-drawer-mode {
  display: flex;
  justify-content: flex-end;
}

.#{$modalClassPrefix} {
  padding: 0;

  .ant-modal-body {
    flex: 1;
    overflow: auto;
  }

  &-wrapper {
    @include oio-scrollbar();
  }

  &-header-invisible {
    .ant-modal-content {
      & > .ant-modal-close,
      & > .ant-modal-header {
        display: none;
      }
    }
  }

  &-footer-invisible {
    .ant-modal-content > .ant-modal-footer {
      display: none;
    }
  }

  .ant-modal-content {
    background-color: var($parameterPrefix + -background);
    border: 1px solid var($parameterPrefix + -border-color);
    box-shadow: var(--oio-box-shadow);
    border-radius: var($parameterPrefix + -border-radius);
  }

  .ant-modal-close {
    margin: 16px;
  }

  .ant-modal-close-x {
    width: 24px;
    height: 24px;
    color: var($parameterPrefix + -text-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ant-modal-header {
    padding: 16px;
    border-bottom: 1px solid var($parameterPrefix + -border-color);
    background-color: var($parameterPrefix + -background);

    .ant-modal-title {
      opacity: 0.85;
      font-size: var($parameterPrefix + -font-size-lg);
      color: var($parameterPrefix + -text-color);
      line-height: 24px;
      font-weight: var($parameterPrefix + -font-weight-bold);
      position: relative;

      .#{$modalClassPrefix}-title-extend {
        height: 24px;
        flex: 1;
        display: flex;
        align-items: center;
        column-gap: 16px;
        position: absolute;
        top: 0;
        right: 40px;

        .oio-icon {
          width: 24px;
          height: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  .ant-modal-confirm-title,
  .ant-modal-confirm-content {
    color: var($modalParameterPrefix + -color);
  }

  .ant-modal-body {
    padding: var($parameterPrefix + -margin-md);
    @include oio-scrollbar();

    .ant-modal-confirm-body-wrapper {
      .ant-modal-confirm-btns {
        button {
          @import '../../oio-button/style/a-button.scss';
        }
      }
    }
  }

  .ant-modal-footer {
    padding: var($parameterPrefix + -margin-md);
    border-top: 1px solid var($parameterPrefix + -border-color);
    overflow: auto hidden;
    @include oio-scrollbar();

    button {
      @import '../../oio-button/style/a-button.scss';

      &.ant-btn {
        height: var($parameterPrefix + -height);
        margin: var($parameterPrefix + -margin-xxs) 0 var($parameterPrefix + -margin-xxs) var($parameterPrefix + -margin-md);

        & + .ant-btn {
          margin-left: var($parameterPrefix + -margin-md);
        }
      }
    }
  }

  .ant-modal-confirm-btns .ant-btn + .ant-btn {
    margin-left: 12px;
  }

  &.#{$modalClassPrefix}-width-small {
    width: var($modalParameterPrefix + -width-small);
  }

  &.#{$modalClassPrefix}-width-medium {
    width: var($modalParameterPrefix + -width-medium);
  }

  &.#{$modalClassPrefix}-width-large {
    width: var($modalParameterPrefix + -width-large);
  }

  &.#{$modalClassPrefix}-width-full {
    width: 100%;
    max-width: 100%;

    &.ant-modal {
      margin: 0;
    }
  }

  &.#{$modalClassPrefix}-height-small {
    .ant-modal-content {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      height: var($modalParameterPrefix + -height-small);
    }
  }

  &.#{$modalClassPrefix}-height-medium {
    .ant-modal-content {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      height: var($modalParameterPrefix + -height-medium);
    }
  }

  &.#{$modalClassPrefix}-height-large {
    .ant-modal-content {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      height: var($modalParameterPrefix + -height-large);
    }
  }

  &.#{$modalClassPrefix}-height-custom {
    .ant-modal-content {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      height: var(--oio-modal-custom-height);
    }
  }

  &.#{$modalClassPrefix}-height-full {
    &.ant-modal {
      top: 0;
      padding-bottom: 0;
      margin: 0;
    }

    .ant-modal-content {
      display: flex;
      flex-direction: column;
      height: 100vh;
    }
  }
}
