.oio-m-default-multi-view-tabs {
  .ant-tabs-content {
    height: 100%;

    .ant-tabs-tabpane {
      height: 100%;

      .oio-tab {
        height: 100%;

        .oio-tab-content {
          height: 100%;

          & > * {
            height: 100%;
          }
        }
      }
    }
  }
}
