@import '../global-parameters';

.#{$formItemClassPrefix}.form-field-widget {
  width: 100%;
  min-height: 32px;
  display: flex;
  box-sizing: border-box;

  .question-icon {
    cursor: pointer;
    color: var(--oio-primary-color);
    font-size: 14px;
    margin-left: 5px;
  }

  .widget-container {
    width: 100%;
    & > div {
      line-height: 36px;
      word-break: break-word;
    }
  }

  .form-field-widget-label-content {
    font-weight: var(--oio-font-weight-bold);
    line-height: 1;
  }

  &.hide-ant-form-item-label {
    .van-field__label {
      margin-bottom: 0;
    }
  }
}
