.order-statistic {
  background: #fff;
  margin: 8px;
  margin-bottom: 16px;

  border: 1px solid #e3e7ee;
  border-radius: 4px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.05);
  padding: 8px;
  font-size: 12px;
  display: flex;
  height: auto !important;

  .item {
    margin-right: 30px;
  }
}
