.form-container {
  .wrap {
    height: 100%;
    overflow-y: auto;
  }

  .ant-spin-dot-item {
    background-color: #606cee;
  }

  .detail-page {
    .text-box-group {
      color: var(--ss-text-secondary, #666);
    }

    .ant-form-item-label>label {
      color: #666;
    }
  }
}
