.default-countdown {
  text-align: center;

  .default-countdown-content {
    display: inline-block;
    height: var(--oio-line-height);
    line-height: var(--oio-line-height);
    vertical-align: -1px;
  }
}
