.default-table-editor-item.oio-form-item {
  margin: 0;

  &.ant-form-item-has-error {
    .ant-form-item-explain {
      .ant-form-item-explain-error {
        padding: var(--oio-padding-xs);
        font-size: var(--oio-font-size-sm);
        color: var(--oio-error-color);
        white-space: pre-wrap;
      }
    }
  }
}
