@import '../../../../style/mixin.scss';

.action-bar {
  @include oio-scrollbar();

  width: 100%;
  height: var(--oio-height);
  display: flex;
  align-items: center;
  flex-flow: row nowrap;

  &.action-bar-overflow {
    overflow: auto hidden;

    .action-bar-left,
    .action-bar-center,
    .action-bar-right {
      overflow: auto hidden;
    }
  }

  &.action-bar-flatten {
    gap: 12px var(--oio-margin-md);
  }

  &.action-bar-between {
    justify-content: space-between;
  }

  &.action-bar-direction-row {
    flex-direction: row;
  }

  &.action-bar-direction-column {
    flex-direction: column;
  }

  &.action-bar-direction-row-reverse {
    flex-direction: row-reverse;
  }

  &.action-bar-direction-column-reverse {
    flex-direction: column-reverse;
  }

  .action-bar-left,
  .action-bar-center,
  .action-bar-right {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 12px var(--oio-margin-md);
  }

  .more-action-item {
    display: flex;
    flex-flow: row nowrap;
  }

  .more-action-invisible-render-wrapper {
    display: none;
  }

  .more-action-selector {
    vertical-align: 0;
  }

  .gallery-action-bar-operators {
    display: flex;
    align-items: center;
    column-gap: var(--oio-row-gap);
  }

  .gallery-action-bar-batch-selected {
    background-color: transparent;
    border-radius: var(--oio-border-radius-sm);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: var(--oio-row-gap);
  }

  .oio-checkbox {
    background: transparent !important;
  }

  .ant-checkbox-wrapper {
    color: var(--oio-text-color);
  }
}
