.default-table-hyperlinks,
.default-form-hyperlinks {
  display: flex;

  & > .oio-spin {
    margin-right: 4px;
  }

  & > a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
