@import '../../../style/mixin.scss';
@import './parameters.scss';

.#{$dropdownClassPrefix}-overlay {
  .ant-dropdown-menu {
    background-color: var(--oio-dropdown-background-color);
    box-shadow: var(--oio-dropdown-box-shadow);
    border-radius: var(--oio-border-radius);
  }

  .ant-dropdown-menu-item,
  .ant-dropdown-menu-submenu-title {
    color: var(--oio-dropdown-color);

    .oio-icon.ant-dropdown-menu-item-icon {
      font-size: var(--oio-icon-font-size);
    }

    .oio-icon {
      vertical-align: 0;
    }

    &:hover {
      background-color: var(--oio-dropdown-item-background-color-hover);
      color: var(--oio-dropdown-color-hover);

      .ant-dropdown-menu-item-icon {
        color: var(--oio-dropdown-color-hover);
      }
    }
  }

  .ant-dropdown-menu-item-disabled,
  .ant-dropdown-menu-submenu-title-disabled {
    color: var(--oio-dropdown-color-disabled);

    &:hover {
      background-color: var(--oio-dropdown-item-background-color-disabled-hover);
      color: var(--oio-dropdown-color-disabled-hover);
    }
  }

  &.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item-selected,
  &.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-submenu-title-selected {
    background-color: var(--oio-dropdown-item-background-color-hover);
    color: var(--oio-dropdown-color-hover);

    .ant-dropdown-menu-item-icon {
      color: var(--oio-dropdown-color-hover);
    }
  }
}

.#{$dropdownClassPrefix}-submenu {
  &.ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-item-selected,
  &.ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-submenu-title-selected {
    background-color: var(--oio-dropdown-item-background-color-hover);
    color: var(--oio-dropdown-color-hover);

    .ant-dropdown-menu-item-icon {
      color: var(--oio-dropdown-color-hover);
    }
  }
}
