@font-face {
  font-family: "iconfont"; /* Project id 5011527 */
  src: url('iconfont.woff2?t=1756777583165') format('woff2'),
       url('iconfont.woff?t=1756777583165') format('woff'),
       url('iconfont.ttf?t=1756777583165') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-defaultrowheight:before {
  content: "\e815";
}

.icon-Order:before {
  content: "\e816";
}

.icon-a-shortcutkey:before {
  content: "\e817";
}

.icon-high-height-outlined:before {
  content: "\e803";
}

.icon-fullscreen-outlined:before {
  content: "\e804";
}

.icon-drag-outlined:before {
  content: "\e805";
}

.icon-file-text-outlined:before {
  content: "\e806";
}

.icon-drawer-outlined:before {
  content: "\e807";
}

.icon-export-outlined:before {
  content: "\e808";
}

.icon-delete-outlined:before {
  content: "\e809";
}

.icon-down-outlined:before {
  content: "\e80a";
}

.icon-dialog-box-outlined:before {
  content: "\e80b";
}

.icon-adaptive-outlined:before {
  content: "\e7ef";
}

.icon-caret-down-filled:before {
  content: "\e80c";
}

.icon-display-outlined:before {
  content: "\e80d";
}

.icon-apartment-outlined:before {
  content: "\e80e";
}

.icon-close-outlined:before {
  content: "\e80f";
}

.icon-copy-outlined:before {
  content: "\e810";
}

.icon-check-outlined:before {
  content: "\e811";
}

.icon-caret-up-filled:before {
  content: "\e812";
}

.icon-caret-right-filled:before {
  content: "\e813";
}

.icon-caret-left-filled:before {
  content: "\e814";
}

.icon-ungroup-outlined:before {
  content: "\e7f4";
}

.icon-height-outlined:before {
  content: "\e7f1";
}

.icon-zoom-out-outlined:before {
  content: "\e7f5";
}

.icon-zoom-in-outlined:before {
  content: "\e7f6";
}

.icon-user-outlined:before {
  content: "\e7f7";
}

.icon-up-outlined:before {
  content: "\e7f8";
}

.icon-fullscreen-exit-outlined:before {
  content: "\e7f2";
}

.icon-low-height-outlined:before {
  content: "\e7f9";
}

.icon-medium-height-outlined:before {
  content: "\e7fa";
}

.icon-plus-outlined:before {
  content: "\e7fb";
}

.icon-group-outlined:before {
  content: "\e7fc";
}

.icon-right-outlined:before {
  content: "\e7fd";
}

.icon-folder-outlined:before {
  content: "\e7fe";
}

.icon-edit-square-outlined:before {
  content: "\e7f0";
}

.icon-minus-outlined:before {
  content: "\e7ff";
}

.icon-Import-outlined:before {
  content: "\e800";
}

.icon-left-outlined:before {
  content: "\e801";
}

.icon-hide-outlined:before {
  content: "\e802";
}

.icon-upload-outlined:before {
  content: "\e7f3";
}

