@import '../../../../style/global-parameters.scss';

.default-drawer {
  .ant-drawer-body {
    .oio-form {
      & > .oio-row > .oio-col > .oio-default-group {
        & > .oio-group-title-wrapper {
          padding: var(--oio-padding) 0 0 0;
        }

        & > .oio-group-content {
          padding: var(--oio-padding) 0;
        }
      }
    }
  }

  .ant-drawer-content .ant-drawer-wrapper-body {
    .ant-drawer-body {
      padding-bottom: 24px;
    }

    .ant-drawer-footer {
      padding: 0;

      .default-drawer-pre-next-switch-footer {
        display: flex;
        align-items: center;

        .oio-simple-pagination {
          padding-left: var($parameterPrefix + -margin-md);
        }

        .action-bar {
          flex: 1;
        }
      }

      .action-bar {
        height: unset;
        padding: var($parameterPrefix + -margin-md);
        justify-content: flex-end;

        button {
          &.ant-btn {
            margin: unset;
          }
        }
      }

      .default-drawer-footer {
        padding: var($parameterPrefix + -margin-md);
      }
    }
  }

  .oio-drawer-content {
    height: 100%;

    & > .oio-default-view {
      height: 100%;
    }
  }

  &-table .ant-drawer-content .ant-drawer-wrapper-body .ant-drawer-body > .ant-spin-nested-loading > .ant-spin-container {
    position: absolute;
    height: 100%;
    width: 100%;
  }
}
